<ion-view view-title='BLIGO EVENTOS'>
  <ion-content scroll="false" class="text-center">
    <div class="vcard vcard_01">
        <a href ng-click="leer_qr();">
        <div class="vcard_title">QR</div>
        <div class="vcard_desc">LEER UN CODIGO QR</div>
        <div class="vcard_link">LEER</div>
        </a>
    </div>
    <!--<br /><br />
  	<button class="button button-positive" ng-click="pedidos()">Pedidos</button>
    <br /><br />
    <button class="button button-positive" ng-click="ventaTarreo()">Venta tarreo</button>
    <br /><br />
    <button class="button button-positive" ng-click="canjeMP()">Canje M/P</button>
    <br /><br />
    <button class="button button-royal" ng-click="printerTest()">Test print 1</button>
    <br /><br />
    <button class="button button-royal" ng-click="printerTest2()">Test print 2</button>
    <br /><br />
    <button class="button button-assertive" ng-click="carnetTest()">Test lector</button>
    <br /><br />
    Nada mas-->
  </ion-content>
</ion-view>
