<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-information-outline" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable header-bar">
      <h1 class="title">Tu cuenta</h1>
    </ion-header-bar>
    <ion-content>
      <div class="text-center side">
        <img src="{{$root.bligoapp.avatar == '' ? 'img/default_avatar.png' : $root.bligoapp.avatar}}" class="perfil_foto" />
        <br /><br />
        <h6>Nombre</h6>
        <div class="perfil_camion">{{$root.bligoapp.nombre}}</div>
        <h6>Correo Electrónico</h6>
        <div class="perfil_nombre">{{$root.bligoapp.correo}}</div>
      </div>
      <ion-list>
        
        <br />
        <div class="text-center" menu-close>
          <a href ng-click="doProfile();">
            Modificar mi perfil
          </a>
        </div>
        <br /> 

        
        <div class="text-center lateral_links">
          <a href ng-click="doHome();">
            Home
          </a>
        </div>  
        <br /> 
        <div class="text-center lateral_links">
          <a href ng-click="$root.cerrarSesion();">
            Cerrar sesión
          </a>
        </div>


        </div>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable header-bar">
      <h1 class="title">Información</h1>
    </ion-header-bar>
    <ion-content class="infobox">
      
      <ion-list>
        <div class="item item-divider">
          <b>Versión</b>
        </div>
        <ion-item>
          1.2.1
        </ion-item>
      </ion-list>
      
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
