<ion-view view-title="Login" hide-nav-bar="true">
  <!-- do you want padding? -->
  <ion-content scroll="false">
  <bligo-header>
    <div class="bligo-header__wrapper">
      <img src="img/logo_alta.png" class="welcome_bligo" />

      <div class="bligo-header__titles">
        <h1 class="bligo-header__title">REGISTRATE EN</h1>
        <h2 class="bligo-header__title">BLIGO APP</h2>
      </div>
    </div>
  </bligo-header>
      <div class="welcome__phone">
        <img src="img/the_distribuidor.png" class="the_phone" />
        <input class="welcome__phone-input" ng-model="loginData.usuario" maxlength="100" type="text" placeholder="Usuario" />
      </div>
      <div class="welcome__phone">
        <img src="img/the_clave.png" class="the_phone" />
        <input class="welcome__phone-input disc" ng-model="loginData.clave" maxlength="50" type="text" placeholder="1234" />
      </div>

      <bligo-button>
      <p class="bligo__button-text">
        <button class="bligo__button-next" ng-click="doLogin()">REGISTRARME</button>
      </p>
      </bligo-button>
      <br />
      <p class="text-center">
        <a ng-click="doBack()">Regresar</a>
      </p>
      
      
      <p class="welcome__instructions">1.2.1</p>

  </ion-content>
</ion-view>

