<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.bligoeventos.app" version="0.4.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Bligo Eventos</name>
  <description>
        Aplicación Bligo Eventos
    </description>
  <author href="http://www.bligoeventos.com" email="contacto@bligoeventos.com">
        Bligo Eventos
    </author>

  <content src="index.html"/>

  <plugin name="cordova-plugin-whitelist" version="1" />
  
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>

  <preference name="SplashScreenDelay" value="0" />
  <preference name="SplashScreen" value="screen" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="auto-hide-splash-screen" value="false" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <preference name="FadeSplashScreen" value="false"/>


  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="permissions" value="none"/>
  <preference name="Orientation" value="portrait" />

  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarStyle" value="lightcontent" />

  <preference name="android-build-tool" value="gradle" />
  <preference name="phonegap-version" value="cli-6.1.0" />

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="Notification">
    <param name="ios-package" value="CDVNotification" />
  </feature>

  <plugin name="org.apache.cordova.geolocation"/>
  <plugin name="org.apache.cordova.globalization"/>
  <plugin name="org.apache.cordova.inappbrowser"/>
  <plugin name="org.apache.cordova.dialogs"/>
  <plugin name="org.apache.cordova.camera"/>
  <!--
  <plugin name="cordova-plugin-media-capture" source="npm" spec="*">
  <variable name="CAMERA_USAGE_DESCRIPTION" value="App would like to access the camera." />
  <variable name="MICROPHONE_USAGE_DESCRIPTION" value="App would like to access the microphone." />
  <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="App would like to access the library." />
  </plugin>
  -->
  <feature name="Camera">
      <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
  </feature>
  
  <!--<plugin name="org.apache.cordova.splashscreen"/>-->
  <plugin spec="https://rosses@github.com/rosses/cordova-plugin-splashscreen.git" source="git" />

  <preference name="exit-on-suspend" value="false"/>
  <preference name="android-windowSoftInputMode" value="stateHidden|adjustResize" />
  <preference name="KeyboardShrinksView" value="true" />
  <preference name="AndroidPersistentFileLocation" value="Compatibility" />

  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <allow-intent href="waze:*"/>
  <allow-navigation href="*" />

  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>

  <plugin name="cordova-plugin-device"/>
  <plugin name="cordova-plugin-statusbar" />
  <plugin name="cordova-custom-config" />
  <plugin name="cordova-plugin-keyboard" />
  <plugin name="cordova-plugin-dialogs" spec="1.2.1"/>
  <plugin name="cordova-plugin-appavailability" />

  <plugin name="phonegap-plugin-barcodescanner">
    <param name="CAMERA_USAGE_DESCRIPTION" value="Lector Abastible"/>
  </plugin>
  
  <icon src="icon.png" />
  <splash src="splash.png" />

  <platform name="ios">

    <config-file parent="CFBundleDevelopmentRegion" target="*-Info.plist">
        <array>
            <string>Spanish</string>
        </array>
    </config-file>
    <config-file parent="CFBundleLocalizations" target="*-Info.plist">
        <array>
            <string>es</string>
        </array>
    </config-file>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        <string>Esta app necesita acceso a la cámara</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
        <string>Esta app necesita acceso a la librería</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
        <string>Esta app necesita acceso al micrófono</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationUsageDescription">
        <string>Esta app necesita acceso a tu ubicación</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
        <string>Esta app necesita acceso a tu ubicación (siempre)</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
        <string>Esta app necesita acceso a tu ubicación (en uso)</string>
    </config-file>

    <!-- images are determined by width and height. The following are supported -->
    <splash src="resources/ios/splash/Default~iphone.png" width="320" height="480"/>
    <splash src="resources/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="resources/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="resources/ios/splash/Default-667h.png" width="750" height="1334"/>
    <splash src="resources/ios/splash/Default-736h.png" width="1242" height="2208"/>
    <splash src="resources/ios/splash/Default-Landscape-736h.png" width="2208" height="1242"/>
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="resources/ios/icon/icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="resources/ios/icon/icon-60.png" width="60" height="60" />
    <icon src="resources/ios/icon/icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="resources/ios/icon/icon-76.png" width="76" height="76" />
    <icon src="resources/ios/icon/icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="resources/ios/icon/icon-40.png" width="40" height="40" />
    <icon src="resources/ios/icon/icon-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="resources/ios/icon/icon.png" width="57" height="57" />
    <icon src="resources/ios/icon/icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="resources/ios/icon/icon-72.png" width="72" height="72" />
    <icon src="resources/ios/icon/icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="resources/ios/icon/icon-small.png" width="29" height="29" />
    <icon src="resources/ios/icon/icon-small@2x.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="resources/ios/icon/icon-50.png" width="50" height="50" />
    <icon src="resources/ios/icon/icon-50@2x.png" width="100" height="100" />
  </platform>

  <platform name="android">


    
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="onload" value="true" />
    </feature>



    <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" />
    <splash density="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.png" />
    <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" />
    <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" />
    <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
    <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
    <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
    <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
    <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
    <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
    <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
    <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
  </platform>


</widget>